html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Noto Sans", sans-serif;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

[lang="ja"] {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
}

body {
  margin: 0;
}

.into i {
  font-size: 2rem;
}

[lang="ja"] {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
}

img {
  display: block;
  width: 100%;
}

ul {
  font-size: 1.125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #3783a3;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}


.intro {
  padding: 1rem;
  display: grid;
  grid-template-columns: auto;
  text-align: center;
  border-bottom: .2rem solid #e2e2e2;
  border-top: .2rem solid #e2e2e2;
}
.intro i {
  font-size: 2rem;
}

section {
  margin-top: 1.5rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1rem;
  margin-bottom: 1.5rem;
  padding-left: .5rem;
  padding-right: .5rem;
}

h2 {
  display: grid;
  padding: ;
}

@media only screen and (min-width: 500px) {


article a {
  display: block;
  border-style: solid;
  border-width: .2rem;
  padding: .5em 1em .6em;
  border-radius: .3em;
  color: #3783a3;
}
@media only screen and (min-width: 38em) {

   h1 {
     display: grid;
     grid-template-columns: auto;
     text-align: left;
     padding: 0;
     padding-left: 1rem;
     margin: 0;
     padding-top: .5rem;
   }

   section {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     grid-template-rows: 1fr;
   }

   article {
     display: flex;
     flex-direction: column;
     justify-content: space-between;
   }

   article p {
     flex-grow: 1;
     padding: 0;
     margin-top: 0;
   }

   header {
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-template-rows: auto;
   }

   header img {
     grid-column: 1 / -1;
     width: 100%;
     padding: 0;
     margin: 0;
     margin-bottom: .8rem;
   }

   nav {
     align-self: center;
     padding: 0;
   }

   .intro {
     margin-left: 3.5rem;
     margin-right: 3.5rem;
   }

   h2 {
     padding: 0;
   }

 @media only screen and (min-width: 62em) {

   .intro {
     margin-left: 14rem;
     margin-right: 14rem;
   }
